<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .progress-container {
            width: 100%;
            margin-top: 10px;
            background-color: #f3f3f3;
            border-radius: 4px;
        }
        .progress-bar {
            height: 20px;
            background-color: #4CAF50;
            width: 0%;
            border-radius: 4px;
            transition: width 0.3s;
        }
        #progressText {
            display: block;
            text-align: center;
            line-height: 20px;
            color: black;
        }
    </style>
    <script type="application/javascript" src="/static/socket.io.min.js"></script>
    <title>实时文本编辑器</title>
</head>
<body>
    <div class="container">
        <h1>实时文本编辑器</h1>
        <div>
            <input type="file" id="fileInput" />
            <button id="uploadBtn" onclick="uploadFile()">上传文件</button>
            <button id="pauseBtn" onclick="cancelUpload()" style="display:none;">取消上传</button>
            <div class="progress-container">
                <div id="progressBar" class="progress-bar"></div>
                <span id="progressText">0%</span>
            </div>
        </div>
        <ul id="file_list"></ul>
        <textarea id="textInput" rows="10" cols="50" placeholder="在这里输入您的文本..." onpaste="handleImagePaste(event)"></textarea>
        <div id="historyIcon" class="history-icon">&#x1F5D2;</div> <!-- 历史记录图标 -->
        <div id="historyContainer" class="history-container" style="display: none;">
            <h2>历史记录</h2>
            <ul id="historyList"></ul>
        </div>
    </div>

    <!-- 模态框 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="modalClose">&times;</span>
                <h2>历史记录详情</h2>
            </div>
            <div class="modal-body">
                <p id="modalText"></p>
            </div>
            <button id="useButton">使用</button>
            <button id="copyButton">复制</button>
        </div>
    </div>
    <script>
        function formatUploadDate(dateStr) {
            if (!dateStr) {
                return ''
            }
            const date = new Date(dateStr);
            const year = date.getUTCFullYear();
            const month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
            const day = date.getUTCDate().toString().padStart(2, '0');
            const hours = date.getUTCHours().toString().padStart(2, '0');
            const minutes = date.getUTCMinutes().toString().padStart(2, '0');
            const seconds = date.getUTCSeconds().toString().padStart(2, '0');
            return `${year}_${month}_${day}_${hours}_${minutes}_${seconds}`;
        }

        // 全局变量存储上传状态
        let uploadXHR = null;
        let isUploading = false;
        
        // 文件上传函数
        function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            if (fileInput.files.length === 0) {
                alert('请选择要上传的文件');
                return;
            }
            const file = fileInput.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('file', file);
                
                // 切换按钮状态
                document.getElementById('uploadBtn').style.display = 'none';
                document.getElementById('pauseBtn').style.display = 'inline-block';
                isUploading = true;
                
                uploadXHR = new XMLHttpRequest();
                uploadXHR.upload.addEventListener('progress', function(e) {
                    if (e.lengthComputable) {
                        const percentComplete = Math.round((e.loaded / e.total) * 100);
                        document.getElementById('progressBar').style.width = percentComplete + '%';
                        document.getElementById('progressText').textContent = percentComplete + '%';
                        if (percentComplete === 100) {
                            document.getElementById('progressText').textContent = '文件上传完成，正在合并文件内容';
                        }
                    }
                });
                
                uploadXHR.addEventListener('load', function() {
                    if (uploadXHR.status === 200) {
                        document.getElementById('progressText').textContent = '文件上传成功';
                        alert('文件上传成功');
                    } else {
                        document.getElementById('progressText').textContent = '文件上传失败';
                        alert('文件上传失败');
                    }
                    resetUploadState();
                });
                
                uploadXHR.addEventListener('error', function() {
                    alert('上传出错');
                    resetUploadState();
                });
                
                uploadXHR.addEventListener('abort', function() {
                    resetUploadState();
                });
                
                uploadXHR.open('POST', '/upload');
                uploadXHR.send(formData);
            }
        }

        
        // 重置上传状态
        function resetUploadState() {
            document.getElementById('fileInput').value = '';
            document.getElementById('progressBar').style.width = '0%';
            document.getElementById('progressText').textContent = '0%';
            document.getElementById('uploadBtn').style.display = 'inline-block';
            document.getElementById('pauseBtn').style.display = 'none';
            uploadXHR = null;
            isUploading = false;
        }

        // 文件下载函数
        function downloadFile(filename) {
            if (filename) {
                window.location.href = '/download/' + filename;
            }
        }

        // 连接到 Socket.IO 服务器
        const socket = io();

        // 确保在页面加载时请求当前文本内容
        window.onload = function() {
            socket.emit('get_current_text');
            socket.emit('file_list_update');
        };

        // 当接收到当前文本内容时，更新文本框的内容
        socket.on('text_update', function(data) {
            document.getElementById('textInput').value = data.text;
            updateHistoryList(data.text);
        });

        // 当接收到当前文件列表时，更新文件列表内容
        socket.on('file_list_update', function(data) {
            updateFileList(data.file_list);
        });

        // 当文本框内容发生变化时，发送更新至服务器
        document.getElementById('textInput').addEventListener('input', function() {
            const updatedText = this.value;
            socket.emit('text_update', { text: updatedText });
        });

        function updateFileList(list) {
            let fileList = document.getElementById('file_list')
            fileList.innerHTML = '';
            for (let i = 0; i < list.length; i++) {
                let file = document.createElement('li');
                file.textContent = list[i];
                file.onclick = function() {
                    downloadFile(list[i]);
                }
                fileList.appendChild(file);
            }
        }
        
        // 暂停上传函数
        function cancelUpload() {
            if (uploadXHR && isUploading) {
                uploadXHR.abort();
                isUploading = false;
                alert('上传已取消');
            }
        }

        // 更新历史记录显示
        function updateHistoryList(text) {
            const historyList = document.getElementById('historyList');
            const listItem = document.createElement('li');
            listItem.textContent = text;
            listItem.onclick = function() {
                showModal(text);
            };
            historyList.appendChild(listItem);
        }

        // 显示模态框
        function showModal(text) {
            document.getElementById('modalText').textContent = text;
            document.getElementById('modal').style.display = "block";
        }

        // 关闭模态框
        document.getElementById('modalClose').onclick = function() {
            document.getElementById('modal').style.display = "none";
        }

        // 使用按钮点击事件
        document.getElementById('useButton').onclick = function() {
            const text = document.getElementById('modalText').textContent;
            document.getElementById('textInput').value = text;
            socket.emit('text_update', { text: text });
            document.getElementById('modal').style.display = "none";
        }

        // 复制按钮点击事件
        document.getElementById('copyButton').onclick = function() {
            const text = document.getElementById('modalText').textContent;
            navigator.clipboard.writeText(text).then(function() {
                alert("文本已复制到剪贴板！");
            }, function(err) {
                alert("复制失败！复制需要在localhost或者带SSL的网站上使用");
                console.error("复制失败: ", err);
            });
        }

        // 处理图片粘贴
        function handleImagePaste(e) {
            const items = (e.clipboardData || window.clipboardData).items;      
            for (let i = 0; i < items.length; i++) {
                if (items[i].type.indexOf('image') !== -1) {
                    const blob = items[i].getAsFile();
                    const formData = new FormData();
                    formData.append('file', blob, `pasted_image_${formatUploadDate(new Date())}.png`);
                    fetch('/upload', {
                        method: 'POST',
                        body: formData
                    }).then(response => {
                        if (response.ok) {
                            alert('图片上传成功');
                        } else {
                            alert('图片上传失败');
                        }
                    });
                }
            }
        }

        // 显示或隐藏历史记录
        document.getElementById('historyIcon').onclick = function() {
            const historyContainer = document.getElementById('historyContainer');
            historyContainer.style.display = historyContainer.style.display === "none" ? "block" : "none";
        };
    </script>
</body>
</html>